[Unit]
Description=An email filtering service.
After=network-online.target

[Service]
ExecStart=%h/.cargo/bin/postar

[Install]
WantedBy=default.target
